services:
  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    hostname: authelia
    restart: unless-stopped
    depends_on:
      - lldap
    networks:
      - proxy
    # ports:
    #   - 9091:9091/tcp
    # expose:
    #   - 9091
    volumes:
      - /srv/appdata/authelia/config:/config
      - /srv/appdata/authelia/data:/data
    environment:
      - AUTHELIA_SESSION_SECRET=${AUTHELIA_SESSION_SECRET}
      - AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET=${AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET}
      - AUTHELIA_STORAGE_ENCRYPTION_KEY=${AUTHELIA_STORAGE_ENCRYPTION_KEY}
      - AUTHELIA_NOTIFIER_SMTP_PASSWORD=${SMTP_TOKEN}
      - TZ=${TZ:-Europe/London}
    labels:
      - traefik.enable=true
      - traefik.http.routers.authelia.entrypoints=https
      - traefik.http.routers.authelia.rule=Host(`auth.${DOMAIN}`)
      - traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/authz/forward-auth
      - traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true
      - traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email

  lldap:
    image: lldap/lldap:stable
    container_name: lldap
    hostname: lldap
    restart: unless-stopped
    networks:
      - proxy
    ports:
      - 3890:3890 # LDAP
    #   - 17170:17170 # WEB UI
    volumes:
      - /srv/appdata/lldap/data:/data
    environment:
      - LLDAP_JWT_SECRET=${LLDAP_JWT_SECRET}
      - LLDAP_LDAP_USER_PASS=CHANGEME
      - LLDAP_LDAP_BASE_DN=${BASE_DN}
      - TZ=${TZ:-Europe/London}
    labels:
      - traefik.enable=true
      - traefik.http.routers.lldap.entrypoints=https
      - traefik.http.routers.lldap.rule=Host(`lldap.${DOMAIN}`)
      - traefik.http.routers.lldap.service=lldap
      - traefik.http.services.lldap.loadbalancer.server.port=17170

networks:
  proxy:
    external: true
