# Traefik global configuration
global:
  # Enable Traefik to check for new updates
  checkNewVersion: true
  # Disable sending anonymous usage statistics
  sendAnonymousUsage: false

# Log level INFO|DEBUG|ERROR
log:
  level: INFO

entryPoints:
  http:
    address: :80
    # forwardedHeaders:
    #   trustedIPs: &trustedIps # https://www.cloudflare.com/ips/
    #     - 103.21.244.0/22
    #     - 103.22.200.0/22
    #     - 103.31.4.0/22
    #     - 104.16.0.0/13
    #     - 104.24.0.0/14
    #     - 108.162.192.0/18
    #     - 131.0.72.0/22
    #     - 141.101.64.0/18
    #     - 162.158.0.0/15
    #     - 172.64.0.0/13
    #     - 173.245.48.0/20
    #     - 188.114.96.0/20
    #     - 190.93.240.0/20
    #     - 197.234.240.0/22
    #     - 198.41.128.0/17
    #     # end of Cloudlare public IP list
    http:
      # Redirect all HTTP traffic to HTTPS
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true

  https:
    address: :443
    http:
      tls:
        # Automatically issue wildcard certificates via the cloudflare certificate resolver
        certResolver: cloudflare
        domains:
          - main: '{{ env "TRAEFIK_DOMAIN" }}'
            sans:
              - '*.{{ env "TRAEFIK_DOMAIN" }}'
      middlewares:
        - secure-headers@file

  # ssh:
  #   address: :666 # Custom port for SSH entry point (used by some services)

providers:
  # Configure provider options to handle dynamic configurations
  providersThrottleDuration: 2s # Prevent excessive reloads by setting a throttle time for provider updates

  file:
    directory: /etc/traefik/dynamic # Dynamic configuration directory
    watch: true # Automatically reload configuration when files in this directory change

  # docker:
  #   # Enable watching Docker events and auto-discover services
  #   watch: true
  #   # Only expose services explicitly marked in Docker labels
  #   exposedByDefault: false
  #   # Use socket-proxy instead of mounting the Docker socket directly
  #   endpoint: "tcp://socket-proxy:2375"
  #   # Ensure Traefik connects to the 'proxy' Docker network
  #   network: proxy

api:
  dashboard: true
  insecure: false

# ping: # TODO WRN No domain found in rule PathPrefix(`/ping`), the TLS options applied for this router will depend on the SNI of each request
#   entryPoint: https

certificatesResolvers:
  cloudflare:
    acme:
      # Email for Let's Encrypt notifications (e.g., certificate expiration)
      email: '{{ env "TRAEFIK_ACME_CERT_EMAIL" }}'
      # Let's Encrypt ACME server endpoint (set to production or staging environment)
      caServer: '{{ env "TRAEFIK_ACME_LETSENCRYPT_URL" }}'
      # File where Let's Encrypt certificates are stored
      storage: /letsencrypt/acme.json
      dnsChallenge:
        # Use Cloudflare's DNS provider for DNS-01 challenges to verify domain ownership
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
