services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    hostname: jellyfin
    restart: unless-stopped
    networks:
      - proxy
    # ports:
    #   - 8096:8096/tcp
    volumes:
      - /mnt/user/appdata/jellyfin/config:/config
      - /mnt/user/appdata/jellyfin/cache:/cache
      - /mnt/user/appdata/jellyfin/transcode:/transcode
      - /mnt/user/media:/media
    environment:
      - JELLYFIN_PublishedServerUrl=https://media.${DOMAIN}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - TZ=${TZ}
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.entrypoints=http
      - traefik.http.routers.jellyfin.rule=Host(`media.${DOMAIN}`)
      - traefik.http.routers.jellyfin.service=jellyfin
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
    devices:
      - /dev/dri:/dev/dri
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-uvm:/dev/nvidia-uvm
      - /dev/nvidia-uvm-tools:/dev/nvidia-uvm-tools
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

networks:
  proxy:
    external: true
