services:
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    hostname: qbittorrent
    restart: unless-stopped
    networks:
      - proxy
    ports:
      - 6881:6881/tcp
      - 6881:6881/udp
    environment:
      - PUID=${HOMELABUID}
      - PGID=${USERSGID}
      - TZ=${TZ}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ${DOWNLOADS_PATH}/qbittorrent/config:/config:rw
      - ${DOWNLOADS_SHARE}/Torrents:/downloads:rw
      - ${DOWNLOADS_SHARE}/Torrents/Watch:/watch:rw
    labels:
      - traefik.enable=true
      - traefik.http.routers.qbittorrent-rtr.entrypoints=websecure
      - traefik.http.routers.qbittorrent-rtr.rule=Host(`torrent.${DOMAIN}`)
      - traefik.http.routers.qbittorrent-rtr.service=qbittorrent-svc
      - traefik.http.services.qbittorrent-svc.loadbalancer.server.port=8080

networks:
  proxy:
    external: true
