Port {{ ssh_port }}
Protocol 2
AddressFamily any
PasswordAuthentication no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
PermitRootLogin no
PermitEmptyPasswords no
MaxAuthTries 3
LoginGraceTime 30
ClientAliveInterval 300
ClientAliveCountMax 2
AllowAgentForwarding {{ 'yes' if ssh_allow_agent_forwarding else 'no' }}
AllowTcpForwarding {{ 'yes' if ssh_allow_tcp_forwarding else 'no' }}
X11Forwarding no
UseDNS no
PrintLastLog yes
AuthorizedKeysFile .ssh/authorized_keys
Subsystem sftp /usr/lib/openssh/sftp-server
{% if ssh_banner_path %}
Banner {{ ssh_banner_path }}
{% endif %}
{% if ssh_allowed_users | length > 0 %}
AllowUsers {{ ssh_allowed_users | join(' ') }}
{% endif %}
{% if ssh_allowed_groups | length > 0 %}
AllowGroups {{ ssh_allowed_groups | join(' ') }}
{% endif %}
