---
- name: Ensure compose directory exists for {{ svc.key }}
  when: svc.value.compose is defined
  ansible.builtin.file:
    path: "{{ svc.value.compose.project_dir }}"
    state: directory
    owner: "{{ svc.value.compose.owner | default(service_directory_owner | default('root')) }}"
    group: "{{ svc.value.compose.group | default(service_directory_group | default('root')) }}"
    mode: "{{ svc.value.compose.directory_mode | default(service_directory_mode | default('0750')) }}"
