services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:13
    container_name: forgejo
    hostname: forgejo
    restart: unless-stopped
    networks:
      - proxy
    ports:
      # - 3000:3000/tcp
      - 2222:22
    volumes:
      - /srv/appdata/forgejo:/data
    environment:
      - TZ=${TZ}
      - FORGEJO__server__ROOT_URL=https://git.${DOMAIN}
      - FORGEJO__mailer__ENABLED=true
      - FORGEJO__mailer__PROTOCOL=smtp+starttls
      - FORGEJO__mailer__SMTP_ADDR=${SMTP_HOST}
      - FORGEJO__mailer__SMTP_PORT=${SMTP_PORT}
      - FORGEJO__mailer__USER=${SMTP_USER}
      - FORGEJO__mailer__PASSWD=${SMTP_TOKEN}
      - FORGEJO__mailer__FROM="Forgejo <${SMTP_SENDER}>"
      - FORGEJO__openid__ENABLE_OPENID_SIGNIN=false
      - FORGEJO__openid__ENABLE_OPENID_SIGNUP=true
      - FORGEJO__openid__WHITELISTED_URIS=auth.${DOMAIN}
      - FORGEJO__service__DISABLE_REGISTRATION=false
      - FORGEJO__service__ALLOW_ONLY_EXTERNAL_REGISTRATION=true
      - FORGEJO__service__SHOW_REGISTRATION_BUTTON=false
    labels:
      - traefik.enable=true
      - traefik.http.routers.forgejo.entrypoints=http
      - traefik.http.routers.forgejo.rule=Host(`git.${DOMAIN}`)
      - traefik.http.routers.forgejo.service=forgejo
      - traefik.http.services.forgejo.loadbalancer.server.port=3000

networks:
  proxy:
    external: true
