---
servers:
  janus:
    traefik:
      compose:
        src: "{{ stacks_root }}/janus/traefik/compose.yml"
        dest: "{{ service_compose_root }}/traefik/compose.yml"
      appdata:
        - src: "{{ stacks_root }}/janus/traefik/config/dynamic/"
          dest: "{{ service_appdata_root }}/traefik/config/dynamic"
      extra_directories:
        - path: "{{ service_appdata_root }}/traefik/certificates"
        - path: "{{ service_appdata_root }}/traefik/logs"
      templates:
        - src: "{{ stacks_root }}/janus/traefik/config/traefik.yml"
          dest: "{{ service_appdata_root }}/traefik/config/traefik.yml"
        - src: "{{ stacks_root }}/janus/traefik/config/dynamic/pandora.yml"
          dest: "{{ service_appdata_root }}/traefik/config/dynamic/pandora.yml"
        - src: "{{ stacks_root }}/janus/traefik/config/dynamic/atlas.yml"
          dest: "{{ service_appdata_root }}/traefik/config/dynamic/atlas.yml"
        - src: "{{ stacks_root }}/janus/traefik/config/dynamic/dione.yml"
          dest: "{{ service_appdata_root }}/traefik/config/dynamic/dione.yml"

    auth:
      compose:
        src: "{{ stacks_root }}/janus/auth/compose.yml"
        dest: "{{ service_compose_root }}/auth/compose.yml"
      appdata: []
      extra_directories:
        - path: "{{ service_appdata_root }}/authelia/data"
        - path: "{{ service_appdata_root }}/authelia/config"
        - path: "{{ service_appdata_root }}/lldap/data"
      templates:
        - src: "{{ stacks_root }}/janus/auth/config/configuration.yml"
          dest: "{{ service_appdata_root }}/authelia/config/configuration.yml"

    adguard:
      compose:
        src: "{{ stacks_root }}/janus/adguard/compose.yml"
        dest: "{{ service_compose_root }}/adguard/compose.yml"
      appdata:
        - src: "{{ stacks_root }}/janus/adguard/config/"
          dest: "{{ service_appdata_root }}/unbound"
      extra_directories:
        - path: "{{ service_appdata_root }}/adguard/conf"
        - path: "{{ service_appdata_root }}/adguard/work"

  atlas:
    traefik:
      compose:
        src: "{{ stacks_root }}/atlas/traefik/compose.yml"
        dest: "{{ service_compose_root }}/traefik/compose.yml"
      appdata:
        - src: "{{ stacks_root }}/atlas/traefik/config/"
          dest: "{{ service_appdata_root }}/traefik/config"
      extra_directories:
        - path: "{{ service_appdata_root }}/traefik/logs"

    whoami:
      compose:
        src: "{{ stacks_root }}/atlas/whoami/compose.yml"
        dest: "{{ service_compose_root }}/whoami/compose.yml"

    cutter:
      compose:
        src: "{{ stacks_root }}/atlas/cutter/compose.yml"
        dest: "{{ service_compose_root }}/cutter/compose.yml"
      extra_directories:
        - path: "{{ service_appdata_root }}/cutter/data"

  pandora:
    traefik:
      compose:
        src: "{{ stacks_root }}/pandora/traefik/compose.yml"
        dest: "{{ pandora_service_compose_root }}/traefik/compose.yml"
      appdata:
        - src: "{{ stacks_root }}/pandora/traefik/config/dynamic/"
          dest: "{{ pandora_service_appdata_root }}/traefik/config/dynamic"
      extra_directories:
        - path: "{{ pandora_service_appdata_root }}/traefik/logs"
      templates:
        - src: "{{ stacks_root }}/pandora/traefik/config/traefik.yml"
          dest: "{{ pandora_service_appdata_root }}/traefik/config/traefik.yml"
        - src: "{{ stacks_root }}/pandora/traefik/config/dynamic/unraid.yml"
          dest: "{{ pandora_service_appdata_root }}/traefik/config/dynamic/unraid.yml"

    jellyfin:
      compose:
        src: "{{ stacks_root }}/pandora/jellyfin/compose.yml"
        dest: "{{ pandora_service_compose_root }}/jellyfin/compose.yml"
      appdata: []
      extra_directories:
        - path: "{{ pandora_service_appdata_root }}/jellyfin/config"
        - path: "{{ pandora_service_appdata_root }}/jellyfin/cache"
        - path: "{{ pandora_service_appdata_root }}/jellyfin/transcode"

    immich:
      compose:
        src: "{{ stacks_root }}/pandora/immich/compose.yml"
        dest: "{{ pandora_service_compose_root }}/immich/compose.yml"
      extra_directories:
        - path: "{{ pandora_service_appdata_root }}/immich/thumbs"
        - path: "{{ pandora_service_appdata_root }}/immich/encoded-video"
        - path: "{{ pandora_service_appdata_root }}/immich/profile"
        - path: "{{ pandora_service_appdata_root }}/immich/postgres"
        - path: "{{ pandora_service_gallery_root }}/immich"
        - path: "{{ pandora_service_gallery_root }}/immich/library"
        - path: "{{ pandora_service_gallery_root }}/immich/backups"

    qbittorrent:
      compose:
        src: "{{ stacks_root }}/pandora/qbittorrent/compose.yml"
        dest: "{{ pandora_service_compose_root }}/qbittorrent/compose.yml"
      appdata: []
      extra_directories:
        - path: "{{ pandora_service_appdata_root }}/qbittorrent/config"

    ollama:
      compose:
        src: "{{ stacks_root }}/pandora/ollama/compose.yml"
        dest: "{{ pandora_service_compose_root }}/ollama/compose.yml"
      appdata: []
      extra_directories:
        - path: "{{ pandora_service_appdata_root }}/ollama"
        - path: "{{ pandora_service_appdata_root }}/ollama-ui"

    minepanel:
      compose:
        src: "{{ stacks_root }}/pandora/minepanel/compose.yml"
        dest: "{{ pandora_service_compose_root }}/minepanel/compose.yml"
      appdata: []
      extra_directories:
        - path: "{{ pandora_service_appdata_root }}/minepanel"

  dione:
    traefik:
      compose:
        src: "{{ stacks_root }}/dione/traefik/compose.yml"
        dest: "{{ service_compose_root }}/traefik/compose.yml"
      appdata:
        - src: "{{ stacks_root }}/dione/traefik/config/"
          dest: "{{ service_appdata_root }}/traefik/config"
      extra_directories:
        - path: "{{ service_appdata_root }}/traefik/logs"

    glance:
      compose:
        src: "{{ stacks_root }}/dione/glance/compose.yml"
        dest: "{{ service_compose_root }}/glance/compose.yml"
      templates:
        - src: "{{ stacks_root }}/dione/glance/config/glance.yml"
          dest: "{{ service_appdata_root }}/glance/config/glance.yml"

    forgejo:
      compose:
        src: "{{ stacks_root }}/dione/forgejo/compose.yml"
        dest: "{{ service_compose_root }}/forgejo/compose.yml"
      extra_directories:
        - path: "{{ service_appdata_root }}/forgejo"
