---
servers:
  janus:
    traefik:
      compose:
        src: "{{ stacks_root }}/janus/traefik/compose.yml"
        dest: "{{ service_compose_root }}/traefik/compose.yml"
      appdata:
        - src: "{{ stacks_root }}/janus/traefik/config/dynamic/"
          dest: "{{ service_appdata_root }}/traefik/config/dynamic"
      extra_directories:
        - path: "{{ service_appdata_root }}/traefik/certificates"
        - path: "{{ service_appdata_root }}/traefik/logs"
      templates:
        - src: "{{ stacks_root }}/janus/traefik/config/traefik.yml"
          dest: "{{ service_appdata_root }}/traefik/config/traefik.yml"
        - src: "{{ stacks_root }}/janus/traefik/config/dynamic/pandora.yml"
          dest: "{{ service_appdata_root }}/traefik/config/dynamic/pandora.yml"
        - src: "{{ stacks_root }}/janus/traefik/config/dynamic/atlas.yml"
          dest: "{{ service_appdata_root }}/traefik/config/dynamic/atlas.yml"

    adguard:
      compose:
        src: "{{ stacks_root }}/janus/adguard/compose.yml"
        dest: "{{ service_compose_root }}/adguard/compose.yml"
      appdata:
        - src: "{{ stacks_root }}/janus/adguard/config/"
          dest: "{{ service_appdata_root }}/unbound"
      extra_directories:
        - path: "{{ service_appdata_root }}/adguard/conf"
        - path: "{{ service_appdata_root }}/adguard/work"

    auth:
      compose:
        src: "{{ stacks_root }}/janus/auth/compose.yml"
        dest: "{{ service_compose_root }}/auth/compose.yml"
      appdata: []
      extra_directories:
        - path: "{{ service_appdata_root }}/authelia/data"
        - path: "{{ service_appdata_root }}/authelia/config"
        - path: "{{ service_appdata_root }}/lldap/data"
      templates:
        - src: "{{ stacks_root }}/janus/auth/config/configuration.yml"
          dest: "{{ service_appdata_root }}/authelia/config/configuration.yml"

  atlas:
    traefik:
      compose:
        src: "{{ stacks_root }}/atlas/traefik/compose.yml"
        dest: "{{ service_compose_root }}/traefik/compose.yml"
      appdata:
        - src: "{{ stacks_root }}/atlas/traefik/config/"
          dest: "{{ service_appdata_root }}/traefik/config"
      extra_directories:
        - path: "{{ service_appdata_root }}/traefik/logs"

    whoami:
      compose:
        src: "{{ stacks_root }}/atlas/whoami/compose.yml"
        dest: "{{ service_compose_root }}/whoami/compose.yml"

    cutter:
      compose:
        src: "{{ stacks_root }}/atlas/cutter/compose.yml"
        dest: "{{ service_compose_root }}/cutter/compose.yml"
      extra_directories:
        - path: "{{ service_appdata_root }}/cutter/data"

  pandora:
    traefik:
      compose:
        src: "{{ stacks_root }}/pandora/traefik/compose.yml"
        dest: "{{ pandora_service_compose_root }}/traefik/compose.yml"
      appdata:
        - src: "{{ stacks_root }}/pandora/traefik/config/"
          dest: "{{ pandora_service_appdata_root }}/traefik/config"
      extra_directories:
        - path: "{{ pandora_service_appdata_root }}/traefik/logs"

    jellyfin:
      compose:
        src: "{{ stacks_root }}/pandora/jellyfin/compose.yml"
        dest: "{{ pandora_service_compose_root }}/jellyfin/compose.yml"
      appdata: []
      extra_directories:
        - path: "{{ pandora_service_appdata_root }}/jellyfin/config"
        - path: "{{ pandora_service_appdata_root }}/jellyfin/cache"
        - path: "{{ pandora_service_appdata_root }}/jellyfin/transcode"

    torrent:
      compose:
        src: "{{ stacks_root }}/pandora/torrent/compose.yml"
        dest: "{{ pandora_service_compose_root }}/torrent/compose.yml"
      appdata: []
      extra_directories:
        - path: "{{ pandora_service_appdata_root }}/torrent/config"
