http:
  routers:
    traefik-dione:
      rule: "Host(`dione.{{ domain }}`)"
      entryPoints:
        - https
      service: app-via-dione
      middlewares:
        - authelia@docker
    hub:
      rule: "Host(`hub.{{ domain }}`)"
      entryPoints:
        - https
      service: app-via-dione
    git:
      rule: "Host(`git.{{ domain }}`)"
      entryPoints:
        - https
      service: app-via-dione

  services:
    app-via-dione:
      loadBalancer:
        servers:
          - url: "http://dione.home.local:80"

tcp:
  routers:
    forgejo-ssh:
      entryPoints: [ssh-forgejo]
      rule: "HostSNI(`*`)"
      service: forgejo-ssh

  services:
    forgejo-ssh:
      loadBalancer:
        servers:
          - address: "dione.home.local:2222"
